body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

#canvas1 {
    position: absolute;
    top:0;
    left:0;
    width: 1024px;
    height: 768px;
  }

  

#canvas2 {
    position: absolute;
    top:0;
    left:0;
    width: 1024px;
    height: 768px;
    background-color: grey;

  }

  
  #canvas3 {
    position: absolute;
    top:0;
    left:0;
    width: 1024px;
    height: 768px;
    background-color: grey;

  }